In [6]:
import pandas as pd 
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

In [7]:
df = pd.read_csv("../data/Housing.csv")
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [8]:
desirability_map = {
    'Bodija': 5.0,
    'Jericho': 4.8,
    'Agodi GRA': 4.7,
    'Iyaganku GRA': 4.6,
    'Alalubosa': 4.3,
    'Oluyole Estate': 4.2,
    'Challenge': 3.8,
    'Akobo': 3.5,
    'Samonda': 3.2,
    'Apete': 2.8
}

In [9]:


# locations = {
#     "Bodija": (7.4200, 3.9200),
#     "Jericho": (7.4030, 3.8850),
#     "Oluyole": (7.3400, 3.8700),
#     "Akobo": (7.4500, 3.9500),
#     "Challenge": (7.3600, 3.9000),
#     "Apete": (7.4400, 3.8800),
#     "Mokola": (7.4100, 3.9100)
# }

locations = {
    'Bodija': (7.4352, 3.9133),
    'Jericho': (7.4030, 3.8850),
    'Agodi GRA': (7.4069, 3.8993),
    'Iyaganku GRA': (7.3925, 3.8681),
    'Alalubosa': (7.3839, 3.8617),
    'Oluyole Estate': (7.3628, 3.8562),
    'Challenge': (7.3383, 3.8773),
    'Akobo': (7.3964, 3.9167),
    'Samonda': (7.4306, 3.9081),
    'Apete': (7.4492, 3.8722)
}

# df['latitude'], df['longitude'] = zip(*df['location'].map(location_coords))


# Randomly assign one of these to each record
np.random.seed(42)
df["location"] = np.random.choice(list(locations.keys()), size=len(df))

# Map lat/lon columns
df["latitude"] = df["location"].map(lambda x: locations[x][0])
df["longitude"] = df["location"].map(lambda x: locations[x][1])

In [10]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,location,latitude,longitude
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished,Challenge,7.3383,3.8773
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished,Iyaganku GRA,7.3925,3.8681
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished,Akobo,7.3964,3.9167
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished,Alalubosa,7.3839,3.8617
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished,Challenge,7.3383,3.8773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished,Oluyole Estate,7.3628,3.8562
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished,Challenge,7.3383,3.8773
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished,Akobo,7.3964,3.9167
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished,Apete,7.4492,3.8722
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished,Samonda,7.4306,3.9081

In [12]:
df["desireability"] = df["location"].map(desirability_map)
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,location,latitude,longitude,desireability
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished,Challenge,7.3383,3.8773,3.8
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished,Iyaganku GRA,7.3925,3.8681,4.6
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished,Akobo,7.3964,3.9167,3.5
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished,Alalubosa,7.3839,3.8617,4.3
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished,Challenge,7.3383,3.8773,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished,Oluyole Estate,7.3628,3.8562,4.2
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished,Challenge,7.3383,3.8773,3.8
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished,Akobo,7.3964,3.9167,3.5
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished,Apete,7.4492,3.8722,2.8
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished,Samonda,7.4306,3.9081,3.2

In [13]:
df["desireability"].corr(df["price"])

0.0003650668763929035